.searchBar {
  width: 250px;
  border-radius: 20px;
  border: 3px solid #007dfd;
  transition: all 0.3s ease;
}

.searchBar:hover,
.searchBar:focus {
  border-color: #ffb347;
  box-shadow: 0 0 8px rgba(255, 179, 71, 0.4);
  outline: none;
}

.largeSearchBar {
  width: 500px;
}